$white-color: #fafafa;
$background-color: #e3e3e2;
$text-color: #3f2929;
$green: #65c190;
$yellow: #fbaf3a;
$red: #eb633c;

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}
.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.react-tabs__tab {
  display: inline-block;
  border: 2px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  height: 90%;
  list-style: none;
  padding: 6px 6px;
  font-size: 16px;
  cursor: pointer;
}
.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
  height: 90%;
}
.react-tabs__tab--disabled {
  cursor: default;
}
.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}
.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
.react-tabs__tab-panel {
  display: none;
}
.react-tabs__tab-panel--selected {
  display: block;
  border: #aaa solid 2px;
  border-top: none;
  border-radius: 0 0 5px 5px;
}
.tab {
  padding: 20px;
}
.tabwrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  height: 90%;
  flex-wrap: nowrap;
}
.picture {
  max-width: 400px;
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 90%;
  }
}
.text {
  max-width: 400px;
  width: 49%;
  border-left: 2px solid $text-color;
  padding: 0 10px;
  h2 {
    margin-bottom: 10px;
    font-weight: 400;
    margin: 0 auto;
  }
  p {
    font-size: 20px;
  }
  .none {
    display: none;
  }
  .source {
    margin-top: 10px;
    font-size: 10px;
    margin: 0 auto;
    text-align: left;
  }
}

.bm-burger-button {
  display: none;
  position: fixed;
  width: 36px;
  height: 30px;
  right: 18px;
  top: 24px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $background-color;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #3f2929;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 800px) {
  .bm-burger-button {
    display: block;
    position: fixed;
    width: 36px;
    height: 30px;
    right: 18px;
    top: 24px;
  }
}
@media only screen and (max-width: 720px) {
  .react-tabs__tab {
    display: inline-block;
    border: 2px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    height: 90%;
    list-style: none;
    padding: 3px 6px;
    font-size: 12px;
    cursor: pointer;
  }
  .react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
    height: 90%;
  }
  .react-tabs__tab--disabled {
    cursor: default;
  }
  .tabwrapper {
    display: inline-block;
    justify-content: space-evenly;
    padding: 10px;
    height: 90%;
    flex-wrap: nowrap;
    width: 100%;
  }
  h2 {
    font-size: 18px;
  }
  .text {
    border-left: 2px solid transparent;
    width: 95%;
    padding: 0;
    p {
      font-size: 12px;
    }
  }
}
